In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("data/train.csv")

In [4]:
df.head()

,447095,3452,111,22,433,214,3677,252,210,74,...,0.34,0.35,0.36,0.37,0.38,0.39,0.40,1.1,0.41,0.42
0,113427,3093,95,9,124,7,4115,234,227,124,...,0,0,0,0,0,0,0,0,0,1
1,66435,2551,61,17,90,5,726,231,202,98,...,0,0,0,0,0,0,0,0,0,1
2,8957,2944,135,3,430,13,1868,224,238,149,...,0,0,0,0,0,0,0,0,0,1
3,434631,3030,327,34,277,101,1973,120,181,190,...,0,1,0,0,0,0,0,0,0,1
4,138445,2952,17,9,60,13,3596,213,222,145,...,0,0,0,0,0,0,0,0,0,1

In [5]:
df.columns = ["key","V1","V2","V3","V4","V5","V6","V7","V8","V9","V10","V11","V12","V13","V14","V15","V16","V17","V18","V19","V20","V21","V22","V23","V24","V25","V26","V27","V28","V29","V30","V31","V32","V33","V34","V35","V36","V37","V38","V39","V40","V41","V42","V43","V44","V45","V46","V47","V48","V49","V50","V51","V52","V53","V54","label"]

In [6]:
df.label.value_counts()

0    208351
1    198357
Name: label, dtype: int64

In [7]:
df.describe()

,key,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V46,V47,V48,V49,V50,V51,V52,V53,V54,label
count,406708.000000,406708.000000,406708.000000,406708.000000,406708.000000,406708.000000,406708.000000,406708.000000,406708.000000,406708.000000,...,406708.000000,406708.000000,406708.000000,406708.000000,406708.000000,406708.000000,406708.000000,406708.000000,406708.000000,406708.000000
mean,290589.792355,2959.546281,155.865628,14.099371,269.789077,46.520494,2351.532522,212.115550,223.336256,142.591491,...,0.089952,0.077975,0.002756,0.003204,0.000221,0.000479,0.026953,0.023710,0.015144,0.487714
std,167743.092297,279.764287,111.973309,7.479913,212.657694,58.393049,1561.098244,26.753996,19.751259,38.260147,...,0.286113,0.268132,0.052428,0.056511,0.014874,0.021891,0.161946,0.152144,0.122124,0.499850
min,1.000000,1859.000000,0.000000,0.000000,0.000000,-173.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,145202.500000,2809.000000,58.000000,9.000000,108.000000,7.000000,1106.000000,198.000000,213.000000,119.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,290624.500000,2996.000000,127.000000,13.000000,218.000000,30.000000,1995.000000,218.000000,226.000000,143.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,435908.250000,3163.000000,261.000000,18.000000,390.000000,69.000000,3329.000000,231.000000,237.000000,168.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,581012.000000,3858.000000,360.000000,66.000000,1397.000000,601.000000,7116.000000,254.000000,254.000000,254.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [8]:
df.isnull().sum()

key      0
V1       0
V2       0
V3       0
V4       0
V5       0
V6       0
V7       0
V8       0
V9       0
V10      0
V11      0
V12      0
V13      0
V14      0
V15      0
V16      0
V17      0
V18      0
V19      0
V20      0
V21      0
V22      0
V23      0
V24      0
V25      0
V26      0
V27      0
V28      0
V29      0
V30      0
V31      0
V32      0
V33      0
V34      0
V35      0
V36      0
V37      0
V38      0
V39      0
V40      0
V41      0
V42      0
V43      0
V44      0
V45      0
V46      0
V47      0
V48      0
V49      0
V50      0
V51      0
V52      0
V53      0
V54      0
label    0
dtype: int64

In [16]:
for x in df.columns:
    if x != 'label':
        print x,  df['label'].corr(df[x])

key -0.21939476931590585
V1 -0.13434683779795972
V2 -0.031208301758895916
V3 -0.07177186020512275
V4 0.04980255111664135
V5 -0.008123724189702548
V6 0.049756579827182186
V7 0.0618075302776673
V8 0.09882730490697492
V9 0.011577621208595117
V10 0.1381675813202437
V11 0.13087460521678787
V12 -0.08715696026301473
V13 0.011731669598749678
V14 -0.21177923937103835
V15 -0.07066318939063627
V16 -0.08568036310535466
V17 -0.042876052090357664
V18 -0.06687833839200881
V19 -0.05111251569430008
V20 -0.07513812056850493
V21 0.013731977422881427
V22 0.011080628106942225
V23 0.03330725707728609
V24 -0.07624571874861341
V25 0.07105278505456022
V26 0.1973449379342599
V27 0.09706303477807215
V28 -0.030957419217627194
V29 -0.002163718105314511
V30 0.018816426985973907
V31 -0.03362222319937619
V32 0.04539926897846593
V33 -0.020536859222740372
V34 0.01895834878106077
V35 -0.03485063667666516
V36 -0.13117980386894715
V37 -0.08502720334792964
V38 -0.011725934720242191
V39 0.014734317792910658
V40 0.04686608632817852
V41 -0.006117996043956822
V42 0.037040659922332485
V43 0.13046895394528255
V44 0.08479314985662713
V45 0.011878268389018237
V46 0.048491559236526934
V47 0.04236235438458149
V48 0.04318490271908978
V49 -0.05453295833044378
V50 -0.0045949494553361465
V51 -0.021370075544195725
V52 -0.14702178547801295
V53 -0.14355203747713352
V54 -0.11144493736523305

In [17]:
from sklearn import preprocessing
min_max_scaler = preprocessing.MinMaxScaler()
np_scaled = min_max_scaler.fit_transform(df)
df_normalized = pd.DataFrame(np_scaled)

In [23]:
for x in range(1, 11):
    print df_normalized[55].corr(df_normalized[x])

-0.13434683779795922
-0.031208301758895874
-0.0717718602051229
0.04980255111664133
-0.008123724189702567
0.049756579827182096
0.06180753027766763
0.0988273049069752
0.011577621208595132
0.13816758132024362